---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import Group from '../components/Group.astro';
import H1 from '../components/H1.astro';
import H2 from '../components/H2.astro';
import H3 from '../components/H3.astro';
import Map from '../components/Map.astro';
import Search from '../components/Search.astro';

export async function getStaticPaths() {
	const listEntries = await getCollection('lists');
	return listEntries.map((entry) => ({
		params: { slug: entry.data.title },
		props: { entry }
	}));
}

const { entry } = Astro.props;
const { sections } = entry.data;
---

<BaseLayout frontmatter={entry.data} headings={sections}>
	<section id="title-section">
		<H1 id="_top">{entry.data.title}</H1>
		<Map {sections} />
	</section>
	<Search />
	{
		sections.map((section) => {
			const Heading = section.depth === 2 ? H2 : H3;
			return (
				<section id={section.slug}>
					<Heading id={section.slug}>
						<a href={`#${section.slug}`}>{section.text}</a>
					</Heading>
					<div class="grid grid-cols-cards gap-4">
						{section.groups.map((group) => (
							<Group {group} />
						))}
					</div>
				</section>
			);
		})
	}
</BaseLayout>
